#calc_container {
  position: relative;
  width: 300px;
}

input[type=text]{
  position: relative;
  display: block;
  width: 264px;
  height: 40px;
  font-size: 20px;
  text-align: right;
  margin-bottom: 5px;
}

input[type=button]{
  background: #EBEBEB;
  width: 85px;
  height: 65px;
  font-size: 18px;
  margin: 1px;
  box-shadow: 1px 1px grey;
  color: green;
  margin-bottom: 2px;
}
