@font-face {
  font-family: mano;
  src: url(Comfortaa_Regular.ttf);
}

* {
  font-family: mano;
  font-size: 20px;
}

.container {
    width: 980px;
}

.box {
    width: 120px;
    height: 120px;
    float: left;
}

.b1 {
    background: #none;
    display: inline-block;
    margin: 0px;
    border: 1px solid grey;
    box-shadow: 1px 1px 2px grey;
    padding: 8px;
}

.savaitg {
  background: orange;
  display: inline-block;
  margin: 0px;
  border: 1px solid grey;
  box-shadow: 1px 1px 2px grey;
  padding: 8px;
}

.ivykis:hover {
    background-color: yellow;
}

.ivykis{
  margin-top: 15px;
  background: cyan;
  font-size: 15px;
}
