@font-face {
  font-family: mano;
  src: url(Comfortaa_Regular.ttf);
}

* {
  font-family: mano;
  font-size: 20px;
}

td{
  padding: 5px;
  width: 80px;
  height: 80px;
  text-align: left;
  vertical-align: top;
}

#calendar {
  width: 600 px;
  height: 400 px;
}

.oranzine {
  background: orange;
}

a {
  text-decoration: none;
  color: white;
  font-size: 10px;
  background-color: green;
}

a:visited {
    background-color: cyan;
}

a:hover {
    background-color: lightgreen;
}
